#screen-1 {
    text-align: center;
}

#question-1 {
    text-align: center;
}

#question-2 {
    text-align: center;
}

#question-3 {
    text-align: center;
}

#question-4 {
    text-align: center;
}

#question-5 {
    text-align: center;
}